language: ruby
cache: 
  bundler: true
  directories:
    - ${HOME}/duckdb-v0_1_2
before_install:
  - yes | gem update --system
  - if [[ ! -d ${HOME}/duckdb-v0_1_2/build ]]; then cd ${HOME} && git clone -b v0.1.2 https://github.com/cwida/duckdb.git duckdb-v0_1_2 && cd duckdb-v0_1_2 && make && cd ${TRAVIS_BUILD_DIR}; fi

rvm:
  - 2.5.7
  - 2.6.5
  - 2.7.0
  - ruby-head
script: bundle exec rake -- --with-duckdb-include=${HOME}/duckdb-v0_1_2/src/include --with-duckdb-lib=${HOME}/duckdb-v0_1_2/build/release/src/
