name: MacOS

on: [push]

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        ruby: ['2.6.8', '2.7.4', '3.0.2', 'head']
        duckdb: ['0.3.0', '0.3.1']

    steps:
    - uses: actions/checkout@v2

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}

    - name: download duckdb binary for MacOS 64bit
      env:
        DUCKDB_VERSION: ${{ matrix.duckdb }}
      run: |
        curl -OL https://github.com/duckdb/duckdb/releases/download/v${DUCKDB_VERSION}/libduckdb-osx-amd64.zip

    - name: extract zip file
      run: |
        unzip libduckdb-osx-amd64.zip
        cp duckdb.h /usr/local/include
        cp libduckdb.dylib /usr/local/lib

    - name: Build and test with Rake with Ruby ${{ matrix.ruby }}
      run: |
        ruby -v
        bundle install --jobs 4 --retry 3
        bundle exec rake
