name: Windows

on: [push]

jobs:
  build:
    runs-on: windows-2019
    strategy:
      matrix:
        ruby: ['2.6.9', '2.7.5', '3.0.3', '3.1.0', 'mingw', 'head']
        duckdb: ['0.3.2', '0.3.1']

    steps:
    - uses: actions/checkout@v2

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}

    - name: download duckdb binary for windows 64bit
      env:
        DUCKDB_VERSION: ${{ matrix.duckdb }}
      run: |
        curl -OL https://github.com/duckdb/duckdb/releases/download/v${env:DUCKDB_VERSION}/libduckdb-windows-amd64.zip

    - name: extract zip file
      run: |
        7z x libduckdb-windows-amd64.zip

    - name: setup duckdb.dll
      run: |
        cp duckdb.dll C:/Windows/System32/

    - name: Build with Rake with Ruby ${{ matrix.ruby }}
      run: |
        bundle install
        bundle exec rake build -- --with-duckdb-include=../../../.. --with-duckdb-lib=../../../..

    - name: rake test
      run: |
        rake test
