name: Windows

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: windows-latest
    timeout-minutes: 20
    strategy:
      matrix:
        ruby: ['3.2.9', '3.3.10', '3.4.8', 'ucrt', 'mingw', 'mswin', 'head']
        duckdb: ['1.4.4', '1.3.2']

    steps:
    - uses: actions/checkout@v4

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}

    - name: download duckdb binary for windows 64bit
      env:
        DUCKDB_VERSION: ${{ matrix.duckdb }}
      run: |
        curl -OL https://github.com/duckdb/duckdb/releases/download/v${env:DUCKDB_VERSION}/libduckdb-windows-amd64.zip

    - name: extract zip file
      run: |
        unzip libduckdb-windows-amd64.zip

    - name: setup duckdb.dll
      run: |
        cp duckdb.dll C:/Windows/System32/

    - name: Build with Rake with Ruby ${{ matrix.ruby }}
      run: |
        bundle install
        bundle exec rake build -- --with-duckdb-include=../../../.. --with-duckdb-lib=../../../..

    - name: rake test
      run: |
        rake test

  post-test:
    name: All tests passed on Windows
    runs-on: windows-latest
    needs: test
    steps:
      - run: echo ok
