name: Windows

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  test:
    runs-on: windows-latest
    strategy:
      matrix:
        ruby: ['3.0.6', '3.1.4', '3.2.2', '3.3.0-rc1', 'ucrt', 'mingw', 'mswin', 'head']
        duckdb: ['0.9.2', '0.8.1']

    steps:
    - uses: actions/checkout@v3

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}

    - name: download duckdb binary for windows 64bit
      env:
        DUCKDB_VERSION: ${{ matrix.duckdb }}
      run: |
        curl -OL https://github.com/duckdb/duckdb/releases/download/v${env:DUCKDB_VERSION}/libduckdb-windows-amd64.zip

    - name: extract zip file
      run: |
        unzip libduckdb-windows-amd64.zip

    - name: setup duckdb.dll
      run: |
        cp duckdb.dll C:/Windows/System32/

    - name: Build with Rake with Ruby ${{ matrix.ruby }}
      run: |
        bundle install
        bundle exec rake build -- --with-duckdb-include=../../../.. --with-duckdb-lib=../../../..

    - name: rake test
      run: |
        rake test

  post-test:
    name: All tests passed on Windows
    runs-on: windows-latest
    needs: test
    steps:
      - run: echo ok
